
/**/*.tfstate*
/**/.terraform

../modules/key/client_key
../modules/key/client_key.pub

**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*
terraform.*
*.tfvars*

*.tfstate
/**/*.tfstate*
*.tfstate.*